/*********************************
Elias.bike
Created September 2022
Author: Bryan Elias Hull
Github: https://github.com/eliashull
 *********************************/

/*** BASICS ***/

body{
	background-color:#111111;
}

/*** TEXT ***/

body, input, select, textarea {
	color: #eeeeee;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 1px;
}

h1 {
	font-family: 'Pacifico', cursive;
	color: #eeeeee;
	font-size: 100px;
	font-weight: 400;	
}

h2 {
	font-family: 'Pacifico', cursive;
	color: #eeeeee;
	font-size: 80px;
	font-weight: 400;	
}

h3 {
	color: #eeeeee;
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	margin: 15px 15px 45px 15px;
	text-align: center;
}

h4 {
	color: #eeeeee;
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	margin: 45px 0px 0px 0px;
	text-align: center;
}

h5 {
	color: #eeeeee;
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	margin: 45px 15px 15px 15px;
	text-align: center;
}

p{
	margin: 15px;
	font-size: 21px;
}


/*** LINKS ***/

p>a{
	transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out, font-weight 0.25s ease-in-out;
	color: #f0dfb7;
	font-weight: 600; 
	text-decoration: none;
	border-bottom: 2px dotted #eeeeee;
}

p>a:hover {
	color: #fe6802;
	text-decoration: none;
	border-bottom: 2px dotted #fe6802;
}

a.icon-link {
	color: #f0dfb7;
	text-decoration: none;
	transition: color 0.25s ease-in-out;
}

a.icon-link:hover {
	color: #fe6802;
	text-decoration: none;
	transition: color 0.25s ease-in-out;
}

.icon-link {
	font-size: 30px;
	vertical-align: center;
}

a.nav-link {
	color: #f0dfb7;
	text-decoration: none;
}

a.nav-link:hover {
	color: #fe6802;
	text-decoration: none;
}

a.paint-link {
	color: #eeeeee;
	font-size: inherit;
	transition: font-size 0.25s ease-in-out;
}

a.paint-link:hover {
	color: inherit;
	font-size: 25px;
	transition: font-size 0.25s ease-in-out;
}

a.social-link {
	color: #f0dfb7;
	text-decoration: none;
	transition: color 0.25s ease-in-out;
	border: none;
}

a.social-link:hover {
	color: #fe6802;
	text-decoration: none;
	transition: color 0.25s ease-in-out;
	border: none;
}

.social-link{
	margin: 0px 15px 0px 15px;
	font-size: 30px;
}

a.button {
	color: #f0dfb7;
	text-decoration: none;
}
a:hover.button {
	color: #111111;
	text-decoration: none;
}


/*** LIST STYLES ***/

ul {
  list-style-type: none;
}

.list-group {
	--bs-list-group-color: #eeeeee;
	--bs-list-group-bg: #111111;
	--bs-list-group-border-color: #333333;
}


/*** NAVIGATION ***/

.navbar-toggler {
	margin: 0px 10px 0px 10px;
}

.navbar-identity {
	margin: 0px 20px 0px 20px;
}

#offcanvasDarkNavbarLabel {
	margin: 0px;
}


/**** BUTTONS ****/

.button{
	position: relative;
	display: inline-block;
	font-weight: 600;
	color: #f0dfb7;
	text-decoration: none;
	margin: 10px;
	border: 2px solid #f0dfb7;
	border-radius: 5px;
	padding: 5px 35px;
	text-transform: uppercase;
	text-align: center;
	align-self: flex-start;
	overflow: hidden;
	transition: 1s all ease;
}
.button::before{
	background-image: linear-gradient(120deg, #fe6802 0%, #f0dfb7 100%);
	content: "";
	color: #eeeeee;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	transition: all 0.6s ease;
}
.button-fx::before{
	width: 100%;
	height: 0%;
	transform: translate(-50%,-50%) rotate(45deg);
}
.button-fx:hover::before{
	height: 830%;
}


/*** CONTAINERS, ROWS, and COLUMNS ***/

.bike-info-container {
	margin-bottom: 50px;
}

.container-fluid {
	margin: 0px -17px 0px -17px;
}

.carousel-container {
	margin-top: 30px;
	margin-bottom: 50px;
}

.intro-container {
	margin-top: 20vh;
	margin-bottom: 10vh;
	padding: 0px 50px 0px 50px;
}

.intro-row {
	text-align: center;
	margin-bottom: 25px;
}

.jump-section-row {
	text-align: center;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.paint-color-row {
	margin-top: 60px;
}

.splash-row {
	margin-top: 5vh;
	margin-bottom: 5vh;
	justify-content: center;
	align-items: center;
}


/*** SECTION STYLINGS ***/

.tiger-section-intro {
	background-image: linear-gradient(120deg, #fe6802 0%, #f0dfb7 100%);
	height: 40vh;
	width: 100vw;
	max-height: 40vh;
	margin-top: 10vh;
	margin-bottom: 10vh;
	text-align: center;
}

.space-section-intro {
	background-image: linear-gradient(120deg, #9867a3 0%, #69bfb4 100%);
	height: 40vh;
	width: 100vw;
	max-height: 40vh;
	margin-top: 10vh;
	margin-bottom: 10vh;
	text-align: center;
}

.rhinestone-section-intro {
	background-image: linear-gradient(120deg, rgba(227,24,24,1) 0%, rgba(223,144,38,1) 15%, rgba(221,208,18,1) 28%, rgba(83,212,13,1) 42%, rgba(25,221,202,1) 55%, rgba(15,60,156,1) 70%, rgba(144,54,217,1) 85%, rgba(167,18,177,1) 100%);
	height: 40vh;
	width: 100vw;
	max-height: 40vh;
	margin-top: 10vh;
	margin-bottom: 10vh;
	text-align: center;
}

.footer-section {
	background: #212529;
	height: 25vh;
	width: 100vw;
	max-height: 25vh;
	margin-top: 15vh;
	padding-top: 15px;
	text-align: center;
	border-top: 3px dotted #333333;
}


/*** FOOTER STYLINGS ***/

.footer-text {
	font-size: 10px;
	text-transform: uppercase;
}

.footer-logo {
	border: 3px solid #eeeeee;
	background: transparent;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
}


/*** MISCELLANEOUS ELEMENTS ***/

#bottom-row{
	margin-bottom: 140px;
}

.bg-dark2 {
	background-color: #1a1a1a;
}

.circle-icon {
    background-image: linear-gradient(120deg, #fe6802 0%, #f0dfb7 100%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
	transition: background-image 0.25s ease-in-out;
}

.circle-icon:hover {
    background-image: linear-gradient(120deg, #f0dfb7 0%, #fe6802 100%);
	transition: background-image 0.25s ease-in-out;
	}

.introduction-paragraph {
	margin-top: 60px;
}

.fa-arrow-alt-circle-down {
	padding-top: 5px;
}


/*** PAINT SWATCHES ***/

.paint-icon-position {
	text-align: center;
}

.paint-color-orange {
	background: #fe6802;
	border: 2px solid #f5f5f5;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	margin: 10px;
}

.paint-color-chalkfarm {
	background: #f1deb9;
	border: 2px solid #f5f5f5;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	margin: 10px;
}

.paint-color-black {
	background: #000000;
	border: 2px solid #f5f5f5;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	margin: 10px;
}

.paint-color-clear {
	background: #cacaca;
	border: 2px solid #f5f5f5;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	margin: 10px;
}

.paint-color-milan {
	background: #69bfb4;
	border: 2px solid #f5f5f5;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	margin: 10px;
}

.paint-color-memphis {
	background: #9867a3;
	border: 2px solid #f5f5f5;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	margin: 10px;
}

.paint-color-sparkle {
	background: linear-gradient(120deg, rgba(227,24,24,1) 0%, rgba(223,144,38,1) 15%, rgba(221,208,18,1) 28%, rgba(83,212,13,1) 42%, rgba(25,221,202,1) 55%, rgba(15,60,156,1) 70%, rgba(144,54,217,1) 85%, rgba(167,18,177,1) 100%);
	border: 2px solid #f5f5f5;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	margin: 10px;
}


/*** MAGICAL UNDERLINE ***/

.underline--magical {
	background-image: linear-gradient(120deg, #fe6802 0%, #f0dfb7 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 88%;
	transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
	background-size: 100% 88%;
  }

.underline--magical--space {
	background-image: linear-gradient(120deg, #9867a3 0%, #69bfb4 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 88%;
	transition: background-size 0.25s ease-in;
}
.underline--magical--space:hover {
	background-size: 100% 88%;
  }

.underline--magical--rhinestone {
	background-image: linear-gradient(120deg, rgba(227,24,24,1) 0%, rgba(223,144,38,1) 15%, rgba(221,208,18,1) 28%, rgba(83,212,13,1) 42%, rgba(25,221,202,1) 55%, rgba(15,60,156,1) 70%, rgba(144,54,217,1) 85%, rgba(167,18,177,1) 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 88%;
	transition: background-size 0.25s ease-in;
}
.underline--magical--rhinestone:hover {
	background-size: 100% 88%;
  }


/**** TO TOP BUTTON ****/

#topbutton {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	font-family: 'Montserrat', serif;
	font-size: 1rem;
	font-weight: 600;
	border: 2px solid #f0dfb7;
	background: transparent;
	padding: 5px 10px;
	outline: none;
	color: #f0dfb7;
	cursor: pointer;
	border-radius: 6px;
	transition: color 0.25s ease-in-out, border 0.25s ease-in-out;
}
#topbutton:hover {
	color: #fe6802;
	border: 2px solid #fe6802;
	transition: color 0.25s ease-in-out, border 0.25s ease-in-out;
}
