/* NEW BryanHull.com Home Page for 2019. Created by Bryan Hull in February 2019 */

/* BASICS */

body{
background-color:#111111;
/*background-image: url("bg.jpg");*/
background-repeat: no-repeat;
background-position: top;
-ms-background-size: cover;
-o-background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
}

/* TEXT */

body, input, select, textarea {
color: #eeeeee;
font-family: "Montserrat", sans-serif;
font-weight: 400;
line-height: 1.65;
letter-spacing: 2px;
}

h1 {
font-family: 'Pacifico', cursive;
color: #eeeeee;
font-size: 7em;
font-weight: 400;	
/*margin: 15px;*/
}

h2, h3, h4, h5 {
color: #eeeeee;
font-family: 'Pacifico', cursive;
font-weight: 400;
margin: 15px;
}

p{
margin: 15px;
}

a{
-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
color: inherit;
font-size:10px;
}

a:hover {
color: hotpink;
text-decoration: none;
}

#nav-item, a{
font-size:18px;    
text-transform: uppercase;    
}

.btn{
    letter-spacing: 2px;
}

.social-link{
	margin-right: 15px;
	font-size: .75rem;
}

ul {
  list-style-type: none;
}

/* ELEMENTS */

#bottom-row{
margin-bottom: 140px;	
}

.circle-icon {
    background-image: linear-gradient(120deg, #fe6802 0%, #f0dfb7 100%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    /*padding: 0px;*/
	font-color: #111111;
}

.circle-icon:hover {
    background-image: linear-gradient(120deg, #f0dfb7 0%, #fe6802 100%);
	transition: background-image 1s ease-in-out;
	}

#footer{
/*background-color: #111111; */           
color: white;
/*margin-top: 40px; */
height: 100%;
text-transform: uppercase;
font-size: 6px;
}

#sitecontent{
/*background-color: #111111;
border-style: solid;
border-width: 1px;*/
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
text-align: center;
}

.underline--magical {
  background-image: linear-gradient(120deg, #fe6802 0%, #f0dfb7 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
    background-size: 100% 88%;
  }
